[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "~=3.7"
pillow = "~=9.1"
red-discordbot = "~=3.5"

[dev-packages]
black = "*"
pytest = "*"
pyright = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"

[scripts]
bot = "redbot dev --dev --debug"
test = "env PYTHONPATH=. pytest"
style = "black ."
check = "pyright"
ci = "./scripts/ci"
