[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "~=9.1"
red-discordbot = "~=3.4"

[dev-packages]
black = "*"
pytest = "*"
pyright = "*"

[requires]
python_version = "3.9"

[scripts]
test = "env PYTHONPATH=. pytest"
style = "black ."
check = "pyright"
ci = "./scripts/ci"
