-i https://pypi.python.org/simple
aiohttp==3.9.5
aiohttp-json-rpc==0.13.3 ; python_version >= '3.5'
aiosignal==1.3.1 ; python_version >= '3.7'
apsw==3.46.1.0 ; python_version >= '3.8'
attrs==25.3.0 ; python_version >= '3.8'
babel==2.17.0 ; python_version >= '3.8'
brotli==1.1.0
click==8.1.8 ; python_version >= '3.7'
discord-py==2.5.2 ; python_version >= '3.8'
distro==1.9.0 ; sys_platform == 'linux' and sys_platform == 'linux'
frozenlist==1.5.0 ; python_version >= '3.8'
idna==3.10 ; python_version >= '3.6'
markdown==3.7 ; python_version >= '3.8'
markdown-it-py==3.0.0 ; python_version >= '3.8'
mdurl==0.1.2 ; python_version >= '3.7'
multidict==6.1.0 ; python_version >= '3.8'
orjson==3.10.15 ; python_version >= '3.8'
packaging==25.0 ; python_version >= '3.8'
pillow==9.5.0
platformdirs==4.3.6 ; python_version >= '3.8'
propcache==0.2.0 ; python_version >= '3.8'
psutil==7.0.0 ; python_version >= '3.6'
pygments==2.19.1 ; python_version >= '3.8'
python-dateutil==2.9.0.post0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyyaml==6.0.2 ; python_version >= '3.8'
rapidfuzz==3.9.7 ; python_version >= '3.8'
red-commons==1.0.0 ; python_version >= '3.8'
red-discordbot==3.5.20
red-lavalink==0.11.0 ; python_full_version >= '3.8.1'
rich==14.0.0 ; python_full_version >= '3.8.0'
schema==0.7.7
six==1.17.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
typing-extensions==4.13.2 ; python_version >= '3.8'
uvloop==0.21.0 ; (sys_platform != 'win32' and platform_python_implementation == 'CPython') and sys_platform != 'win32'
yarl==1.15.2 ; python_version >= '3.8'
zstandard==0.23.0 ; python_version >= '3.8'
